# Base URL where your build artifacts are stored.
# For AWS S3: https://<bucket>.s3.<region>.amazonaws.com
# For MinIO:  http://localhost:9000/<bucket>
# For R2:     https://<accountid>.r2.cloudflarestorage.com/<bucket>
S3_BASE_URL=http://localhost:9000/sideops

PORT=8080
